@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

header {
  padding-top: 27vh;
  padding-bottom: 27vh;
  background-image: url("../img/org.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 120, 0.5);
  background-blend-mode: multiply;
}

header div h1 {
  margin: 0px;
}

header div {
  color: #FFF;
  margin: 0 0 0 10vw;
  font-size: 20px;
}

header div button {
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  border: none;
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  background-color: #ffed00;
  color: #1a1a1a;
  border-radius: 4px;
  font-weight: 800;
}

header div button:hover {
  background-color: #d8cc22;
  transition: .4s;
}

header div p {
  font-weight: 100;
}

nav {
  width: 100%;
  position: absolute;
  top: 0;
  align-items: center;
}

nav a {
  color: #FFF;
  text-decoration: none;
  font-weight: 600;
}

nav article #hamburger {
  text-decoration: none;
  color: #FFF;
  font-size: 30px;
  float: right;
  margin: 10vh 10vw 0 0;
}


/* MAIN CONTENT */

main #whatwedo {
  width: 100%;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

main #whatwedo h2 {
  margin-bottom: 50px;
  font-size: 30px;
}

main #whatwedo article {
  width: 25vw;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin: 20px;
}

main #whatwedo article i {
  color: #ff7878;
  font-size: 40px;
}
