@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.header {
  padding-top: 35vh;
  padding-bottom: 35vh;
  background-image: url("../img/zorg3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 120, 0.5);
  // background-color: rgba(214, 198, 149, 0.5);
  background-blend-mode: multiply;

  .div {
    color: #FFF;
    margin: 0 0 0 10vw;
    font-size: 20px;

    .h1 {
      margin: 0px;
    }

    .p {
      font-weight: 100;
      margin-bottom: 50px;
    }

    .button {
      text-decoration: none;
      font-family: 'Poppins', sans-serif;
      border: none;
      padding: 10px 20px 10px 20px;
      background-color: #ffed00;
      color: #1a1a1a;
      border-radius: 4px;
      font-weight: 600;
      border: 2px solid #ffed00;

      &:hover {
        transition: .6s;
        background: none;
        color: #FFF;
        border: 2px solid #ffed00;
      }
    }
  }
}

.nav {
  position: absolute;
  top: 0;
  width: 100%;

  .article {
    .hamburger {
      text-decoration: none;
      color: #FFF;
      font-size: 30px;
      float: right;
      margin: 10vh 10vw 0 0;
    }
  }
}

// MAIN CONTENT //

.main {

  .whatwedo {
    width: 100%;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

    h2 {
      margin-bottom: 50px;
      font-size: 30px;
    }

    .articlewhatwedo {
      width: 25vw;
      text-align: center;
      display: inline-block;
      vertical-align: top;
      margin: 20px;
      padding: 20px;
      border-radius: 10px;

      .fa-cogs {
        color: #ff7878;
        font-size: 40px;
      }

      button {
        margin-top: 20px;
        font-family: 'Poppins', sans-serif;
        border: none;
        cursor: pointer;
        padding: 10px 20px 10px 20px;
        background-color: #ffed00;
        color: #1a1a1a;
        border-radius: 4px;
        font-weight: 800;
        border: 2px solid #ffed00;

        &:hover {
          border: 2px solid #ffed00;
          background: none;
          transition: .4s;
        }
      }
    }
  }
}

footer {
  padding: 10px 0 10px 0;
  background-color: #434343;
  color: #FFF;
  text-align: center;
  font-weight: 300;

  .dev {
    text-decoration: none;
    color: #FFF;
  }
}

.nav {
  text-align: right;
  height: 70px;
  line-height: 70px;
  background-color: white;
  position: fixed;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.menu {
  text-align: center;
  width: 100%;
  display: none;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  a {
    clear: right;
    text-decoration: none;
    color: black;
    margin: 0 10px;
    line-height: 70px;
    display: block;
    background-color: #FFF;
    margin: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  a:hover {
    color: red;
  }
}

span {
  color: #54D17A;
}

label {
  margin: 0 10vw 0 0;
  font-size: 26px;
  line-height: 70px;
  display: block;
  width: 26px;
  float: right;
  color: #ff7878;
  display: block;
  cursor: pointer;
}

#toggle {
  display: none;
}

#toggle:checked + .menu {
  display: block;
}
