body{
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;

}
#right a{
    text-decoration: none;
    color: #353333;
    margin-left: 12vw;
    font-size: 14px;
}
#right a:hover{
    background-color: #353333;
    color: #edeaea;
    padding: 5px;  
}
#header{
    background-image: url(Images/people-helping.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}